html {
  background-image: url("images/drums.jpeg");
  /* font-size: 15px; */
}
body,
html {
  margin: 0px;
  padding: 0px;
}
.instructions {
  margin: 50px;
  /* padding: 20px; */
  text-align: center;
  font-family: "Shizuru", cursive;
  font-size: 28px;
  letter-spacing: 0.4rem;
  font-weight: 1000;
  background-image: linear-gradient(
    to right,
    white,
    rgb(252, 126, 126),
    rgb(253, 187, 43),
    rgb(250, 159, 159),
    rgb(77, 76, 76),
    rgb(77, 75, 75),
    rgb(255, 230, 0),
    orange
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: block;
}
.keys {
  padding: 20px;
}
.keys-1 {
  display: flex;
  flex: 1 0 150px;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
}
.keys-2 {
  display: flex;
  flex: 1 0 150px;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}

.key {
  width: 6rem;
  margin: 1rem;
  padding: 1rem 0rem;
  border: 0.3rem outset rgb(248, 247, 247);
  border-radius: 50%;
  text-align: center;
  background: rgb(59, 59, 59);
  color: aliceblue;
  transition: all 0.5s ease;
  text-shadow: 0 0 0.5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: rgb(96, 231, 255);
  box-shadow: 0 0 1rem rgb(96, 231, 255);
}
kbd {
  display: block;
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
}
.sound {
  font-family: "Rock Salt", cursive;
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  color: azure;
}
